[submodule "Operating Systems/hw1"]
	path = Operating Systems/hw1
	url = https://github.com/arasHi87/OS-LKM-Build
[submodule "Introduction to Image Processing, Computer Vision and Deep Learning/hw1"]
	path = Introduction to Image Processing, Computer Vision and Deep Learning/hw1
	url = https://github.com/arasHi87/CVDL_HW1
[submodule "Operating Systems/hw2"]
	path = Operating Systems/hw2
	url = https://github.com/arasHi87/OS-SimpleKVStore
[submodule "Introduction to Image Processing, Computer Vision and Deep Learning/hw1-5"]
	path = Introduction to Image Processing, Computer Vision and Deep Learning/hw1-5
	url = https://github.com/arasHi87/CVDL_HW1-5
[submodule "Operating Systems/hw3"]
	path = Operating Systems/hw3
	url = https://github.com/arasHi87/OS-Thread-Scheduler
[submodule "Operating Systems/hw4"]
	path = Operating Systems/hw4
	url = https://github.com/arasHi87/OS-MemoryManager
